<ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
<h5>{{ 'p1_title1' | translate }}</h5>
<div class="container-fluid">
  <app-list-item label="{{ '00_int1' | translate }}">{{ insegnamento.docente_id }}</app-list-item>       
  <app-list-item label="{{ '00_int2' | translate }}" value="{{ insegnamento.insegnamento  | uppercase }}"></app-list-item>
  <app-list-item label="{{ '00_int10' | translate }}" value="{{ insegnamento.cdl  | uppercase }}"></app-list-item>
  <app-list-item label="{{ '00_int3' | translate }}" value="{{ insegnamento.aa }}"></app-list-item>  
  <app-list-item label="{{ '00_int15' | translate }}" value="{{ tools.tipoContratto(insegnamento) }}"></app-list-item>
  <app-list-item label="{{ '00_int6' | translate }}" value="{{ tools.tipoConferimento(insegnamento)  }}"></app-list-item>   
</div>
<hr>

<form>
  <input type="hidden" name="id" [(ngModel)]="insegnamento.id">

  <div class="form-row">
    <div class="col col-2">
        <label for="ore">ORE</label>
    </div>
    <div class="col col-2">
        <label for="cfu">CFU</label>
    </div>
  </div>
  <div class="form-row">
    <div class="col col-2">
        <input class="form-control" name="ore" id="ore" [(ngModel)]="insegnamento.ore" placeholder="ORE . . ." >
    </div>
    <div class="col col-2">
        <input class="form-control" name="cfu" id="cfu" [(ngModel)]="insegnamento.cfu" placeholder="CFU . . ." >
    </div>
  </div>

  <div class="form-row">
    <div class="col col-2">
        <label for="data_da">DAL GIORNO</label>
    </div>
    <div class="col col-2">
        <label for="data_a">AL GIORNO</label>
    </div>
  </div>
  <div class="form-row">
    <div class="col col-2">
        <input class="form-control" type="date" name="data_da" id="data_da" [(ngModel)]="insegnamento.data_ini_contr" placeholder="DAL GIORNO . . ." >
    </div>
    <div class="col col-2">
        <input class="form-control" type="date" name="data_a" id="data_a" [(ngModel)]="insegnamento.data_fine_contr" placeholder="AL GIORNO . . ." >
    </div>
  </div>

  <div class="form-row">
    <div class="col col-2">
      <label for="compenso">COMPENSO LORDO</label>
    </div>
  </div>
  <div class="form-row">
    <div class="col col-2">
      <input class="form-control" name="compenso" id="compenso" [(ngModel)]="insegnamento.compenso" placeholder="€ . . . , . ." >
    </div>
  </div>

</form>