<app-collapse-wrapper [options]="{title:'Obiettivi', type:'info'}">
  <div class="mt-3">
    <ul class="text-justify mr-3">
      <li>
          Aumentare il numero di contratti firmati dai docenti prima dell’inizio delle lezioni.  
      </li>
      <li>
          Avere un deposito unico, completo e autoritativo di tutti i dati relativi agli
          incarichi didattici conferiti nei cdl sia ai collaboratori esterni che a PTA e CEL,
          attraverso una procedura controllata di immissione che eviti incoerenze tra i dati
          nonché inserimenti molteplici degli stessi dati.
      </li>
      <li>
          Garantire correttezza, coerenza e completezza dei dati pubblicati in trasparenza
          attraverso il prelievo automatico dei dati precedentemente immessi.
      </li>
      <li>
          Favorire la tempestività e la completezza della pubblicazione del vademecum it/en e
          della strutturazione delle piattaforme Moodle per b-learning ed e-learning:
        <ul class="pl-3">
          <li>Attribuzione budget didattica ai dipartimenti e revisione modulistica entro il 31/03.</li>
          <li>Cappello verde in U-Gov Didattica sugli insegnamenti del I semestre entro il 10/09.</li>
          <li>Cappello verde in U-Gov Didattica sugli insegnamenti del II semestre entro il 31/01.</li>
        </ul>
      </li>
    </ul>
  </div>
</app-collapse-wrapper>

<app-collapse-wrapper [options]="{title:'Note', type:'info'}">
  <div class="mt-3">
    <ul class="text-justify mr-3">
      <li>
          I punti della procedura di seguito riportata vanno eseguiti in base al numero d’ordine;
          i punti con lo stesso numero possono essere eseguiti in contemporanea.
      </li>
      <li>
          Il responsabile di ciascun plesso provvederà ad individuare gli addetti ai vari punti
          della procedura all’interno del personale amministrativo assegnato al plesso stesso.
      </li>
      <li>
          Solo i contratti di docenza per l’alta formazione continueranno temporaneamente ad essere
          gestiti nella vecchia maniera (documenti cartacei, dati trasparenza inseriti a mano).
      </li>
      <li>
          Corrispondenza tra natura del rapporto in modulistica precontrattuale e ruolo in U-Gov:
          prestazione professionale PR (possessori di partita IVA usabile ai fini del contratto),
          collaborazione di natura autonoma CC, prestazione di lavoro autonomo occasionale AU,
          rapporto assimilato a lavoro dipendente ND/NM (PTA di UniUrb) e CL/CD (CEL di UniUrb),
          prestazione a titolo gratuito (solo contratti di alta qualificazione).
      </li>
      <li>
          Tipi di copertura impostati in U-Gov Didattica tenendo conto che i compensi vengono
          pagati per gli esterni in U-Gov (U) e per i dipendenti in CSA (C): didattica ufficiale
          (CONTU e CONTC, esportati in SUA ed Esse3), didattica integrativa (INTU e INTC),
          didattica integrativa da esportare (INTXU e INTXC, esportati in SUA ed Esse3 trovando
          applicazione nei laboratori di Scienze della Formazione Primaria nonché nei tirocini
          di Scienze Motorie, che non rientrano nel calcolo della didattica sostenibile),
          supporto alla didattica (SUPPU e SUPPC) e alta qualificazione (ALTQU, ALTQC, ALTQG).
      </li>
      <li>
          Tipi di contratti di docenza impostati in U-Gov Compensi: DOC per i contratti pregressi
          andati in trasparenza a mano, DOC1 per i contratti inseriti a partire dal 01/07/2016.
      </li>
    </ul>
  </div>
</app-collapse-wrapper>

<app-collapse-wrapper [options]="{title:'Procedura', type:'info'}">
  <div class="text-justify mr-3 mt-3 ml-3">
    <h5>0. Fase preliminare: Attribuzione del budget e revisione della modulistica</h5>
    <p>
      Sulla base dei lavori della commissione didattica di Ateneo, l’ufficio personale docente
      attiva la procedura con la quale il CdA attribuisce il budget annuale della didattica
      ai dipartimenti. Contestualmente, lo stesso ufficio provvede alla revisione annuale dello
      schema di bando di vacanza, dello schema di domanda di partecipazione (e-mail e ruolo,
      cause di incompatibilità, futura richiesta di un cv per la trasparenza), della modulistica
      precontrattuale e degli schemi di contratto di docenza, coinvolgendo gli uffici necessari.
      A revisione completata, l’ufficio ne dà comunicazione a servizi informatici e dipartimenti.
    </p>
  
    <h5>1. Conferimento dell'incarico didattico</h5>
    <p>
      Per ogni insegnamento non coperto dai docenti di ruolo, il dipartimento, su proposta della
      struttura didattica, fa uscire il bando di vacanza e poi effettua la relativa selezione,
      oppure rinnova il contratto al docente del corrente anno accademico qualora sia opportuno;
      analogamente per la didattica integrativa e per il supporto alla didattica.
      Il termine di tre mesi per la pubblicazione in trasparenza e in anagrafe delle prestazioni
      decorre dalla delibera di conferimento dell’incarico didattico adottata dal dipartimento
      (solo i contratti di alta qualificazione devono essere deliberati dal SA in base all’art. 4
      comma 3 del Regolamento per il conferimento di incarichi di insegnamento).
    </p>

    <h5>2. Verifica dell'esistenza del docente a contratto nell'anagrafica di U-Gov</h5>
    <p>
      L’addetto del plesso accede ad U-Gov Didattica per verificare l’esistenza del docente
      nell’anagrafica di U-Gov. In caso di esito negativo, ne richiede l’inserimento fornendo
      i dati (IBAN incluso) all’ufficio personale docente, il quale inserisce nell’anagrafica
      di U-Gov anche l’indirizzo e-mail privato e l’indicazione AFFILIATE nel campo Note (che
      attiva la procedura automatica di attribuzione delle credenziali UniUrb al nuovo docente).
    </p>

    <h5>3. Caricamento della copertura dell'insegnamento in U-Gov Didattica</h5>
    <p>
      L’addetto del plesso provvede ad inserire in U-Gov Didattica la copertura dell’insegnamento
      come avviene per gli insegnamenti tenuti da professori e ricercatori, seguendo le apposite
      LINEE GUIDA OPERATIVE. In particolare, occorre indicare come compenso il lordo percipiente
      e come ruolo 0000 in attesa che il docente compili la modulistica precontrattuale.
    </p>
    
    <h5>4. Compilazione e verifica della modulistica precontrattuale in UniContr</h5>
    <p>
      L’addetto del plesso accede ad UniContr e specifica docente ed insegnamento, cosicché
      il docente riceve al suo indirizzo e-mail UniUrb una notifica per compilare la modulistica
      precontrattuale accedendo ad un dato indirizzo web con le credenziali UniUrb. La prima
      parte del frontespizio viene precompilata estraendo automaticamente i dati precedentemente
      inseriti dall’addetto del plesso in U-Gov Didattica. Se il docente a contratto è nuovo,
      deve compilare tutti i quadri necessari, altrimenti un quadro alla volta vengono presentati
      i dati dell’anno precedente e viene chiesto esplicitamente di confermarli o modificarli.
      Il docente carica inoltre il proprio cv in formato pdf per gli obblighi della trasparenza.
      Una volta compilata telematicamente, la modulistica reca in calce l’indicazione del docente
      che l’ha compilata, completa di data e ora di terminazione della compilazione, poi viene
      automaticamente inviata una notifica all’ufficio personale docente e al servizio finanze.
      Questi verificano per quanto di competenza la corretta compilazione e la non sussistenza di
      motivi di incompatibilità, poi appongono il proprio visto o segnalano eventuali problemi.
    </p>

    <h5>5.a Generazione del contratto in UniContr e successiva firma</h5>
    <p>
      Se vengono apposti entrambi i visti, UniContr genera automaticamente il contratto in formato PDF
      sulla base della natura del rapporto indicata nella modulistica precontrattuale.
      Il docente riceve poi al suo indirizzo e-mail UniUrb una notifica per prendere visione e
      accettare il contratto accedendo ad un dato indirizzo web con le credenziali UniUrb.
      All’atto dell’accettazione, viene automaticamente inviata una notifica alla direzione
      generale per procedere con la firma digitale del Rettore.
      Per ogni attività didattica di ogni anno accademico, la modulistica precontrattuale,
      il contratto in UniContr e il contratto firmato in Titulus devono essere allineati.
    </p>

    <h5>5.b Caricamento di ulteriori dati un U_Gov compensi finalizzati alla trasparenza</h5>
    <p>
      L’addetto del plesso rientra in U-Gov Didattica per valorizzare il ruolo del docente
      seguendo le apposite LINEE GUIDA OPERATIVE, sulla base della modulistica precontrattuale o,
      in caso di ritardo del docente, della domanda di partecipazione o di quanto indicato l’anno
      precedente se si tratta di rinnovo; a quel punto tutti i dati inseriti in U-Gov Didattica
      migrano automaticamente in U-Gov Compensi entro il giorno successivo (ma si può forzare la
      migrazione immediata). Affinché il conferimento dell’incarico possa essere automaticamente
      pubblicato in trasparenza prelevando i dati da U-Gov Compensi, l’addetto del plesso (oltre
      alle tabelle Testata, Percipiente, Contratto, Dati Trasparenza, Allegati che sono quasi
      completamente precaricate in base alla migrazione dei dati da U-Gov Didattica) compila pure
      le tabelle Trattamento Economico, Iva, Rate seguendo le apposite LINEE GUIDA OPERATIVE.
      Poiché l’unico dato economico necessario ai fini degli obblighi di trasparenza è il lordo
      percipiente, le tabelle in questione possono in questa fase essere riempite con valori di
      comodo. Discorso analogo vale per i dati relativi ai contratti di docenza con PTA e CEL di
      UniUrb, con i dati che migrano automaticamente in CSA ma non devono andare in trasparenza.
      Nel caso la modulistica precontrattuale tardiva riporti un ruolo diverso da quello caricato
      in U-Gov Didattica e poi migrato in U-Gov Compensi, se il contratto è ancora in stato bozza
      basta cambiare il ruolo in U-Gov Compensi e inserire il numero di contratto nel campo Note
      di U-Gov Didattica, altrimenti bisogna ripartire da U-Gov Didattica col ruolo giusto.
    </p>

    <h5>6. Liquidazione del compenso</h5>
    <p>
      Ad eccezione delle tipologie di prestazione PR e AU che vanno liquidate in un’unica rata,
      i contratti ufficiali vanno liquidati in due rate entro febbraio (3/12 dell’anno di
      inizio contratto) e novembre (9/12 dell’anno di fine contratto); analogo è il discorso per
      i contratti integrativi che si estendono su due esercizi consecutivi. L’addetto del plesso
      invia la richiesta di liquidazione al servizio finanze (mettendo per conoscenza l’ufficio
      personale docente) solo per l’ultima rata. Il servizio finanze rettifica i valori nelle
      tabelle Trattamento Economico e Rate di U-Gov Compensi, oppure opera in CSA per i compensi
      relativi a contratti di docenza con PTA e CEL di UniUrb, poi procede con l’ordinativo di
      pagamento e con tutte le comunicazioni di legge.
    </p>
  </div>
</app-collapse-wrapper>

<app-collapse-wrapper [options]="{title:'Linee guida operative - Ruolo del contraente', type:'info'}">
  <div class="text-justify mr-3 mt-3 ml-3">
    <p>
        I contratti che giuridicamente vengono definiti quali contratti d’opera intellettuale
        possono avere, sotto il profilo tributario, diverse qualificazioni.
    </p>
    <p>
        Non sorgono particolari problemi nelle situazioni in cui il contraente svolga in forma
        abituale attività di lavoro autonomo (per la quale ha partita IVA, anche all’interno
        di studio associato) e le competenze cui deve attingere per lo svolgimento dell’incarico
        sono comuni rispetto al patrimonio di conoscenze che gli è necessario per svolgere
        l’attività per la quale ha identificativo IVA. In tali situazioni, infatti, opera
        il principio dell’assorbimento del rapporto attivato con l’Ateneo all’interno della
        qualificazione tributaria di esercente arte o professione.
    </p>
  <p>
      Nei casi in cui, invece, il soggetto al quale viene affidato l’incarico non svolge
      alcuna attività professionale in forma autonoma, nasce l’esigenza di qualificare
      il rapporto come collaborazione coordinata e continuativa (art. 50 co. 1 lett. c-bis
      del DPR 917/86) oppure come lavoro autonomo non esercitato abitualmente (art. 67
      co. 1 lett. l del DPR 917/86). Purtroppo, la normativa fiscale non detta criteri
      distintivi certi ed univocamente determinabili fra le due figure; in particolare,
      la collaborazione coordinata e continuativa deve per l’appunto essere caratterizzata
      da "coordinamento" fra struttura dell’Ente ed attività del contraente (e ciò normalmente
      esiste) e da "continuità" del rapporto (ma questa non viene mai definita). D’altro canto,
      la giurisprudenza connota il rapporto non abituale (e dunque non continuativo) con
      sostantivi del tipo "contingenza, secondarietà, sussidiarietà", sostantivi che comunque
      necessitano di valutazione caso per caso.
  </p>
  <p>
      A fronte di quanto sopra esposto, nasce per l’Ateneo l’esigenza di codificare
      comportamenti comuni in relazione alle fattispecie più ricorrenti, quali quelle
      dei contratti di insegnamento, sia "ufficiali" che "integrativi".
  </p>
  <p>
      Pur nella consapevolezza che ogni caso può necessitare di valutazione specifica,
      le linee guida che vengono nel seguito definite cercano di coniugare i concetti
      di "continuità" da un lato e di "contingenza, secondarietà, sussidiarietà" dall’altro
      definendo parametri numerici oggettivi. In tale tentativo, viene assunto come
      riferimento principale un parametro temporale costituito da un arco temporale
      sul quale si svolge il rapporto pari a 30 giorni; viene però considerato pure
      il fatto che sono comunque indicatori di "continuità" da un lato e di "contingenza,
      secondarietà, sussidiarietà" dall’altro anche parametri costituiti da numero di ore
      di lezione ed entità del compenso. La scelta del riferimento temporale di 30 giorni
      discende dall’analisi del D.Lgs. 276/03, articoli 61 e seguenti (norme peraltro
      oggi abrogate) laddove si consentiva di non contrattualizzare come "lavoro a progetto"
      rapporti che avessero durata inferiore a 30 giorni e compensi non superiori a 5.000 euro,
      ritenendo tali fattispecie non abbisognevoli di tutele particolari e dunque "contingenti,
      secondarie e sussidiarie".
  </p>
  <p>
      Si precisa infine che uno stesso docente esterno può essere contemporaneamente
      titolare di più contratti di docenza distinti, anche con ruoli diversi, di cui
      alcuni come collaborazione coordinata e continuativa (nel seguito CC)
      e altri come lavoro autonomo non esercitato abitualmente (nel seguito AU).
  </p>
  <h5>
    Criteri per decidere tra CC e AU
  </h5>
  <p class="mb-0">
    Ad esclusione del caso PR, in cui il contraente svolge in forma abituale attività di lavoro
  autonomo (per cui ha partita IVA, anche all’interno di studio associato) e le competenze a
  cui deve attingere per lo svolgimento dell’incarico sono comuni rispetto al patrimonio di
  conoscenze che gli è necessario per svolgere l’attività per la quale ha identificativo IVA,
  a partire dall’a.a. 2017/2018 si procede nel seguente modo:
  </p>
  <ul class="pl-3">
    <li>
        I contratti ufficiali di insegnamento sono sempre CC.
    </li>
    <li>
        I contratti di supporto alla didattica, per i quali è previsto un limite di importo
        di € 500,00 nel Regolamento per il conferimento di incarichi di insegnamento,
        sono sempre AU.
    </li>
    <li>
        I contratti integrativi di insegnamento e gli incarichi conferiti per l’alta formazione
        sono CC se il numero di ore di insegnamento previste è maggiore di 15, altrimenti AU.
    </li>
  </ul>
  </div>
</app-collapse-wrapper>

<app-collapse-wrapper [options]="{title:'Linee guida operative - Rinuncia al contratto/compenso', type:'info'}">
  <div class="text-justify mr-3 mt-3 ml-3">
    <h5>Rinuncia al contratto</h5>
    <p class="mb-0">Dopo aver ricevuto la relativa comunicazione da parte del soggetto,
        procedere come segue nei vari applicativi.<br>
        UniContr:
      </p>
    <ul class="pl-3 mb-0">
      <li>Spuntare "rinuncia al contratto" e compilare il relativo campo note.</li>
    </ul>
    <p class="mb-0">U-Gov Didattica:</p>
    <ul class="pl-3 mb-0">
      <li>Eliminare la copertura dell’insegnamento.</li>
    </ul>
    <p class="mb-0">U-Gov Compensi (se i dati del contratto sono già ivi migrati):</p>
    <ul class="pl-3">
      <li>
        Inserire nel campo "Note" della tabella "Dati Trasparenza" le informazioni relative
          alla "rinuncia al contratto con riferimento della delibera di presa d’atto".
      </li>
      <li>
        Premere il bottone "Salva".
      </li>
      <li>
        Il giorno dopo, una volta accertata la migrazione delle informazioni in merito
          alla rinuncia al contratto nel campo "Note" del relativo contratto all’interno
          della sezione Amministrazione Trasparente del portale web di Ateneo, effettuare
          l’eliminazione del contratto da U-Gov Compensi premendo il bottone "Cancella".
      </li>
      <li>
          Il giorno dopo, una volta ricontrollato che in Amministrazione Trasparente
          sia ancora visibile il contratto con l’informazione di rinuncia al contratto
          nel campo "Note", verificare che in U-Gov Compensi la riga relativa al contratto
          sia evidenziata di colore grigio.
      </li>
    </ul>
    <h5>Rinuncia al compenso</h5>
    <p class="mb-0">Dopo aver ricevuto la relativa comunicazione da parte del soggetto,
        procedere come segue nei vari applicativi.<br>
        UniContr:
      </p>
    <ul class="pl-3 mb-0">
      <li>Spuntare "rinuncia al compenso" e compilare il relativo campo note.</li>
    </ul>
    <p class="mb-0">U-Gov Didattica:</p>
    <ul class="pl-3 mb-0">
      <li>Nessuna operazione da effettuare.</li>
    </ul>
    <p class="mb-0">U-Gov Compensi (se i dati del contratto sono già ivi migrati):</p>
    <ul class="pl-3">
      <li>
          Inserire nel campo "Note" della tabella "Dati Trasparenza" le informazioni relative
          alla "rinuncia al compenso con riferimento della delibera di presa d’atto".
      </li>
      <li>
        Premere il bottone "Salva".
      </li>
      <li>
          Il giorno dopo verificare l’avvenuta migrazione delle informazioni in merito
          alla rinuncia al compenso nel campo "Note" del relativo contratto all’interno
          della sezione Amministrazione Trasparente del portale web di Ateneo.
      </li>
    </ul>
  </div>
</app-collapse-wrapper>






