/* You can add global styles to this file, and also import other style files 
@import '../node_modules/bootstrap/css/bootstrap.min.css'; */


@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

  /* styles in src/style directory are applied to the whole page  */
  .oi { top: 0px !important; }

  /* Right-To-Left layout for the Islamic Calendars */
  ngb-datepicker.rtl {
    direction: rtl;
  }
  
  ngb-datepicker.rtl ngb-datepicker-navigation-select select.custom-select {
    background-position: left 0.25rem center;
  }
  /* Useful to modify this to flex-start for multiple calendar only */
  ngb-datepicker.rtl .ngb-dp-arrow.right {
    justify-content: center;
  }
  /* Useful to modify this to flex-end for multiple calendar only */
  ngb-datepicker.rtl .ngb-dp-arrow {
    justify-content: center;
  }
  
  ngb-datepicker.rtl .ngb-dp-arrow-btn {
    padding: 0;
  }
  
  ngb-datepicker.rtl .ngb-dp-arrow.right .ngb-dp-navigation-chevron:before {
    transform: rotate(-135deg);
    margin: 0 0 0 0.5rem;
  }
  
  ngb-datepicker.rtl .ngb-dp-navigation-chevron::before {
    transform: rotate(45deg);
    margin: 0 0.5rem 0 0;
  }
  
  
  
