/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/tempdir
/storage/backups
/vendor
/coverage
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
saml.key
saml.crt
sp.key
sp.crt
