<nav class="navbar navbar-expand-md navbar-light mb-4">

  <a class="navbar-brand" href="/" style="padding-left: 5px">
    <!-- Logo icon -->
    <b class="logo-icon">
        <img src="../assets/images/logo-icon.svg" alt="homepage" class="dark-logo" width="80px"/>
    </b>      
  </a>

  <a class="navbar-brand" href="/">UniContract</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="">HOME</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="lista-insegn">INSEGNAMENTI</a>
        </li>
    </ul>
  </div>
</nav>
