<app-collapse-wrapper [options]="{title:'Dati relativi all\'insegnamento e posizione del collaboratore', type:'info'}">
  <div class="text-justify me-3 mt-3 ms-3">
      <h5>Modello P.1</h5>
      <p>Dati relativi all'insegnamento (Modello precompilato)</p>
      <h5>Modello P.2</h5>
      <p>Posizione del collaboratore e natura del rapporto (Da compilare a cura di tutti i collaboratori assegnatari di un contratto di prestazione d’opera intellettuale)</p>
  </div>
</app-collapse-wrapper>

<app-collapse-wrapper [options]="{title:'Dati anagrafici e di posizione', type:'info'}">
  <div class="text-justify me-3 mt-3 ms-3">
    <h5>Modelli A</h5>
    <p>
      A.1 - Dati anagrafici del collaboratore<br>
      A.2 - Modalità di pagamento e dati relativi al Conto Corrente
    </p>
    <h5>Modelli B</h5>
    <p>
      B.1 - Dichiarazione sul conflitto di interessi<br>
      B.2 - Dichiarazione sulla incompatibilità<br>
      B.3 - Dichiarazione in merito al rapporto di studio o lavoro con l’Università<br>
      B.4 - Dichiarazione in merito al rapporto di lavoro con la Pubblica Amministrazione<br>
      B.5 - Dichiarazione in merito allo stato di pensionamento<br>
      B.6 - Trattamento dati e Informativa sulla privacy
    </p>
    <p><strong>N.B.</strong> I modelli A e B sono da compilare a cura di tutti i collaboratori assegnatari di un contratto di prestazione d’opera intellettuale</p>
  </div>
</app-collapse-wrapper>

<app-collapse-wrapper [options]="{title:'Dati tributari, fiscali e previdenziali', type:'info'}">
  <div class="text-justify me-3 mt-3 ms-3">
    <h5>Modello C</h5>
    <p>Prestazione Professionale (Per possessori di Partita IVA utilizzabile ai fini del contratto)</p>
    <h5>Modelli D</h5>
    <p>
      Prestazione d’opera in qualità di Collaborazione di Natura Autonoma<br>
      D.1 - Dichiarazione ai fini previdenziali<br>
      D.2 - Dichiarazione ai fini assicurativi INAIL<br>
      D.3 - Dichiarazione ai fini tributari<br>
      D.4 - Dichiarazione ai fini fiscali<br>
      D.5 - Dichiarazione ai fini fiscali per i residenti all'estero<br>
      D.6 - Richiesta detrazioni fiscali per familiari a carico
    </p>
    <h5>Modello E</h5>
    <p>Prestazione di Lavoro Autonomo Occasionale (artt. 2222 e ss. del Codice Civile)</p>
    <p><strong>N.B.</strong> I modelli C, D, E sono da compilare dagli assegnatari di contratto nella parte di proprio interesse</p>
  </div>
</app-collapse-wrapper>

<app-collapse-wrapper [options]="{title:'Dati tributari, fiscali e previdenziali', type:'info'}">
  <div class="text-justify me-3 mt-3 ms-3">
    <h5>Modello C</h5>
    <p>Prestazione Professionale (Per possessori di Partita IVA utilizzabile ai fini del contratto)</p>
    <h5>Modelli D</h5>
    <p>
      Prestazione d’opera in qualità di Collaborazione di Natura Autonoma<br>
      D.1 - Dichiarazione ai fini previdenziali<br>
      D.2 - Dichiarazione ai fini assicurativi INAIL<br>
      D.3 - Dichiarazione ai fini tributari<br>
      D.4 - Dichiarazione ai fini fiscali<br>
      D.5 - Dichiarazione ai fini fiscali per i residenti all'estero<br>
      D.6 - Richiesta detrazioni fiscali per familiari a carico
    </p>
    <h5>Modello E</h5>
    <p>Prestazione di Lavoro Autonomo Occasionale (artt. 2222 e ss. del Codice Civile)</p>
    <p><strong>N.B.</strong> I modelli C, D, E sono da compilare dagli assegnatari di contratto nella parte di proprio interesse</p>
  </div>
</app-collapse-wrapper>

<app-collapse-wrapper [options]="{title:'Nota informativa', type:'info'}">
  <div class="text-justify me-3 mt-3 ms-3">
    <p>
      1. I modelli, debitamente compilati nelle parti di interesse saranno inoltrati agli uffici competenti per la loro verifica.<br>
      2. Per i titolari di più contratti di insegnamento è sufficiente compilare i modelli una sola volta ad eccezione del modello P.1, che viene precompilato dalle segreterie per ciascun contratto.
    </p>
  </div>
</app-collapse-wrapper>
